
<button class="menu-toggle-x">
    <i class="fa-solid fa-bars"></i>
</button>


<div class="overlay-x"></div>


<nav class="sidebar-x">
    <div class="menu-header-x">
        <h2>Fast Request</h2>
        <button class="menu-close">
            <i class="fas fa-times"></i>
        </button>
    </div>


    <div class="highlighted-section-x">
        <a href="#" class="highlighted-button login-btn-x">
            <i class="fas fa-sign-in-alt"></i> Iniciar sesión
        </a>
        <a href="#" class="highlighted-button register-btn-x">
            <i class="fas fa-user-plus"></i> Registrarse
        </a>
    </div>
    
    <div class="menu-content-x">

        <ul class="menu-xx">
            <li class="menu-item-xx">
                <a href="/" class="menu-link-x active">
                    <i class="fas fa-home menu-icon-x"></i> Inicio
                </a>
            </li>
           
            <li class="menu-item-xx">
                <a href="/servicios" class="menu-link-x">
                    <i class="fas fa-briefcase menu-icon-x"></i>Servicios
                </a>
            </li>
           
            <li class="menu-item-xx">
                <a href="/nosotros" class="menu-link-x">
                    <i class="fas fa-building menu-icon-x"></i> Nosotros
                </a>
            </li>
           

            <li class="menu-item-xx">
                <a href="/contactanos" class="menu-link-x">
                    <i class="fas fa-phone-alt menu-icon-x"></i> Contactanos
                </a>
            </li>
        </ul>


        <div class="menu-footer-x">
            <div class="social-links-x">
                <a href="#" class="social-link-x"><i class="fab fa-facebook-f"></i></a>
                <a href="#" class="social-link-x"><i class="fab fa-twitter"></i></a>
                <a href="#" class="social-link-x"><i class="fab fa-instagram"></i></a>
                <a href="#" class="social-link-x"><i class="fab fa-linkedin-in"></i></a>
            </div>
            <div class="copyright">
                © 2025 Fast Request. Todos los derechos reservados.
            </div>
        </div>
    </div>
</nav>



