
    <div class="fondo">
        <div class="desaing">
        </div>
    </div>
    <button class="btn-menu" type="button">
        <i class="fa-solid fa-bars"></i>
    </button>
    
<main>
    <div class="container-cover">
        <div class="cover">
            <div class="text">
                <h1>Transforma y Optimiza la Gestión de tus Pedidos.</h1>

                <p>Simplificamos y optimizamos la gestión de pedidos con soluciones eficientes que mejoran el control, la organización y potencian el crecimiento empresarial.</p>
                <div class="linea1"></div>
                <button type="submit"><a href="#">Ver Mas!</a></button>
                <div class="linea2"></div>
            </div>

            <div class="svg" data-aos="fade-left" data-aos-duration="2000" data-aos-mirror="true">
                <img src="/img/image.png" alt="">
            </div>
        </div>
    </div>
</main>

      
    

    <section>
        <div class="container-information">
            <div class="information">
                <img class="img-i" src="/img/prueba.jpg" alt="" data-aos="fade-right" data-aos-duration="2000" data-aos-mirror="true">
              <div class="text-content">

                <h2>Ventas Online</h2>
                <img class="camino" src="/img/camino.png" alt="">
                
                <h1>impulsa tu empresa y<br> <span>simplifica tus costos</span></h1>

                <p>Administra tu empresa de manera eficiente a través de nuestros software.</p>

                <nav>
                    <ul>
                        <li><span>✔</span> Administra tus pedidos desde un solo lugar de manera sencilla.</li>
                        <li><span>✔</span> Ofrece una experiencia óptima y sin complicaciones a tus clientes.</li>
                        <li><span>✔</span> Accede a análisis detallados de todas tus ventas para tomar decisiones informadas.</li>
                        <li><span>✔</span> Disfruta de una solución personalizada que se adapta a tu negocio.</li>
                    </ul>
                </nav>
                
                <img class="arrow" src="/img/arrow.png" alt="">
                <button type="submit"><a href="">Comunicate Ahora!</a></button>
            </div>
            </div>
        </div>
    </section>

    <section class="content">
        <img class="linea" src="/img/lñinea.png" alt="">
        <div class="container-informacion">
            <div class="card">
                <i class="fa-solid fa-chart-line"></i>
                <h2>Impulsa</h2>
                <p>Administra, organiza, impulsa y potencia la gestión de tus pedidos.</p>
            </div>
            
            <div class="card">
                <i class="fa-solid fa-arrows-rotate"></i>
                <h2>Transforma</h2>
                <p>Convierte tu sistema de pedidos en un proceso ágil y eficiente.</p>
            </div>
            
            <div class="card">
                <i class="fa-solid fa-screwdriver-wrench"></i>
                <h2>Optimiza</h2>
                <p>Mejora la eficiencia de tu negocio con procesos automatizados.</p>
            </div>
        </div>
    </section>

    
    <section class="funciones">
        <div class="funciones-content">
            <div class="funciones-text">
                <h2>¿Qué puedo <br> <span>Hacer con Fast Request</span>?</h2>
                <p>Un software simple pero potente, <br> Conoce todo lo que tenemos para ofrecerte.</p>
            </div>
    
            <div class="funciones-list">
                <h1>Algunas de nuestras Funcionalidades:</h1>
                <nav>
                    <ul>
                        <li><span>✔</span> Aumenta la eficiencia operativa con procesos automatizados.</li>
                        <li><span>✔</span> Facilita la colaboración entre equipos para alcanzar objetivos comunes.</li>
                        <li><span>✔</span> Reduce el tiempo de respuesta y mejora la satisfacción del cliente.</li>
                        <li><span>✔</span> Fomenta la innovación con cada análisis.</li>
                        <li><span>✔</span> Simplifica la toma de decisiones con datos claros y accesibles.</li>
                    </ul>
                </nav>
            </div>
        </div>
    </section>

    <section class="content-txt">
        <div class="container-txt">
            <div class="txt-container">
                <h2>Administra tu empresa, <br> <span>a través de nuestros software de pedidos.</span></h2>
                <p>Administra, organiza, impulsa y potencia la gestion de tus pedidos.</p>
            </div>
            <div class="img" data-aos="fade-left" data-aos-duration="2000" data-aos-mirror="true">
                <img src="/img/planos.png" alt="">
            </div>
        </div>
    </section>

    
    <section class="testimonios">
        <h2>Lo que Dicen Nuestros Clientes</h2>
        <div class="container-testimonios">
            <div class="testimonio" data-aos="fade-right" data-aos-duration="2000" data-aos-mirror="true">
                <p>"Este software ha optimizado nuestra gestión de pedidos de una forma increíble. ¡Altamente recomendado!"</p>
                <h4>- Juan Pérez, CEO de TechCorp</h4>
            </div>
            <div class="testimonio" data-aos="fade-left" data-aos-duration="2000" data-aos-mirror="true">
                <p>"Desde que implementamos este sistema, nuestras ventas han aumentado significativamente."</p>
                <h4>- Ana García, Fundadora de HealthyFoods</h4>
            </div>
        </div>
    </section>
    


