
    <button class="btn-menu" type="button">
        <i class="fa-solid fa-bars"></i>
    </button>

    <main>
        <div class="container">
            <div class="information_txt">
                <h1>¿Necesitas ayuda?  <br> <span>¡Habla con nuestros expertos al instante!</span></h1>
               <div class="img" data-aos="zoom-in"data-aos-easing="linear"data-aos-duration="1000"data-aos-mirror="true">
                    <img class="img-1" src="/img/ayuda.png" alt="">
               </div>
            </div>
            <form id="formAction" method="POST" data-aos="fade-left" data-aos-duration="1500">
                <h2>¡Contáctanos ahora mismo!</h2>

                <div class="form-group">
                    <label for="name">Nombre del Negocio</label>
                    <input type="text" name="name" id="name" required>
                </div>

                <div class="form-group">
                    <label for="email">E-mail de contacto</label>
                    <input type="email" name="email" id="email" required>
                </div>

                <div class="form-group">
                    <label for="tel">Informanos como podemos ayudarte!</label>
                   <textarea name="message" id="message" minlength="30" maxlength="500" rows="4" placeholder="escribenos un mensaje..." required></textarea>
                </div>

                <button class="enviar" id="enviar" type="submit">Enviar</button>
            </form>
        </div>
    </main>




    
    